{% extends "admin_layout.html" %}

{% block title %}
Alumnos
{% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='styles/shared.css') }}">
{% endblock %}

{% block main %}
<h1>Alumnos</h1>

<h2>Administrar Alumnos</h2>
<a href="/home">Volver al inicio</a>

<section class="atletas">
    <div class="card-container">
        {% for atleta in atletas %}
        <div class="card-item">
            <img class="clickable atelta-clickable-photo" src="{{ url_for('.static', filename=(atleta['foto'] or 'img/logo.png')) }}"
                onclick="location.href='/alumnos/{{ atleta['id'] }}'">
            <div class="card-item-name">{{ atleta["nombre"] }} <span class="bold">{{ atleta["apellido"] }}</span>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<a href="/home">Volver al inicio</a>
{% endblock %}
