<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Home</title>
</head>

<body>
    <h3 class="title">Bienvenido(a) {{ user_name }} </h3>
    <div>Ir a:</div>
    <a href="/logros-atletas">Logros</a><br>
    <a href="/atletas">Atletas</a><br>
    <a href="/entrenadores">Entrenadores</a><br>
    <a href="/directiva">Directiva</a><br>
    <a href="/hitos">Hitos</a><br>
    <br><br>
    <a href="{{ url_for('auth.logout') }}">Cerrar sesión</a>
</body>

</html>