{% extends "admin_layout.html" %}

{% block title %}
Alumnos
{% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='styles/shared.css') }}">
{% endblock %}

{% block main %}
<h1>Alumnos</h1>

<h2>Administrar Alumnos</h2>
<a href="/alumnos">Volver a alumnos</a>

<section class="atletas">
    <div class="card-container">
        <div class="card-item">
            <form action='/alumnos/{{ atleta["id"] if atleta else "nuevo"}}' method="post" enctype="multipart/form-data">
                {% if atleta %}
                <img src="{{ url_for('.static', filename=(atleta['foto'] or 'img/logo.png')) }}">
                {% endif %}
                <label for="file">Foto en formato 'png', 'jpeg', 'jpg' o 'heic'</label>
                <input type="file" name="file"><br>
                <label for="nombre">Nombre</label>
                <input name="nombre" type="text" value="{{ atleta.get('nombre') if atleta else ''}}"><br>
                <label for="apellido">Apellido</label>
                <input name="apellido" type="text" value="{{ atleta.get('apellido') if atleta else '' }}"><br>

                <button>Guardar</button>
            </form>
        </div>
    </div>

    {% if atleta %}
    <button id="deleteButton" style="color:red" data-alumno-id="{{atleta['id']}}">Eliminar este alumno</button>
    {% endif %}
</section>
{% endblock %}
{% block scripts %}
{% if atleta %}
<script src="{{ url_for('.static', filename='js/delete.js') }}"></script>
{% endif %}
{% endblock %}
