{% extends "layout.html" %}

{% block title %}
Sobre nosotros
{% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='styles/timeline.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='styles/about.css') }}">
{% endblock %}

{% block main %}
<h1>SOBRE NOSOTROS</h1>
<section class="mv-section">
    <div class="m-container mv-title">MISIÓN</div>
    <div class="v-container mv-title">VISIÓN</div>
    <div class="m-text-container mv-text">Desarrollar el tenis de mesa en el norte del país,
        formando atletas íntegros.</div>
    <div class="v-text-container mv-text">Ser el club líder a nivel nacional de tenis de mesa
        en alto rendimiento .</div>
</section>

<!-- Timeline taken from https://codyhouse.co/demo/vertical-timeline/index.html -->
<section class="cd-timeline js-cd-timeline">
    <h2>NUESTRA HISTORIA</h2>
    <div class="container max-width-lg cd-timeline__container">
        {% for hito in hitos %}
        <div class="cd-timeline__block">
            <div class="cd-timeline__img">
                <img src="{{ url_for('.static', filename='img/timeline-img/star.svg') }}" />
            </div>

            <div class="cd-timeline__content text-component">
                <h2>{{ hito["titulo"] }}</h2>
                <p class="color-contrast-medium">
                    {{ hito["descripcion"] }}
                </p>

                <div class="flex justify-between items-center">
                    <span class="cd-timeline__date">{{ hito["mes"] }}, {{ hito["año"] }}</span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<section class="directiva">
    <h2>DIRECTIVA</h2>
    <div class="card-container">
        {% for persona in directiva %}
        <div class="card-item">
            <img src="{{ url_for('.static', filename=persona['foto']) }}">
            <div class="card-item-name">{{ persona["nombre"] }} <span class="bold">{{ persona["apellido"] }}</span>
            </div>
            <div class="card-item-role bold">{{ persona["cargo"] }}</div>
            <div class="card-item-description">{{ persona["descripcion"] }}</div>
        </div>
        {% endfor %}
    </div>
</section>
<section class="entrenadores">
    <h2>ENTRENADORES</h2>
    <div class="card-container">
        {% for persona in entrenadores %}
        <div class="card-item">
            <img src="{{ url_for('.static', filename=persona['foto']) }}">
            <div class="card-item-name">{{ persona["nombre"] }} <span class="bold">{{ persona["apellido"] }}</span>
            </div>
            <div class="card-item-description">{{ persona["descripcion"] }}</div>
        </div>
        {% endfor %}
    </div>
</section>
<script src="{{ url_for('.static', filename='js/timeline.js') }}"></script>
{% endblock %}