.custom-splide {
  margin: 1rem 0;
  width: 60%;
}

.abierto-description {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

.abierto-description > p {
  max-width: 40vw;
}

h2 {
  margin-bottom: 0;
}

.abierto-parrafo {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  padding: 0 3rem 0 3rem;
}

.past-abierto {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.past-abierto .abierto-parrafo {
  max-width: 80%;
  margin-bottom: 1rem;
}

.auspiciadores-imgs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
}

.auspiciadores-imgs > img {
  height: 8rem;
  width: auto;
  margin: 1rem 1rem 1rem 0;
}

@media (orientation: portrait) {
  .abierto-parrafo {
    font-size: 1rem;
  }

  .custom-splide {
    width: 90%;
  }

  .auspiciadores-imgs > img {
    max-width: 50vw;
    height: auto;
  }

  .abierto-description > p {
    max-width: 100rem;
  }
}
