:root {
  --light-gray: #d0d0d0;
  --main-orange: #e57d02;
  --dark-gray: #252525;
}

* {
  margin: 0;
  padding: 0;
  color: white;
}

body {
  height: 100vh;
  background-color: black;
}

.bg-container {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  z-index: -1;
  background-image: url(../img/background2-min.jpg);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: right top;
}

.solid-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 65vw;
  background-color: var(--dark-gray);
  display: flex;
  flex-direction: column;
}

header {
  margin-top: 4rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header-item {
  font-family: Poppins;
  font-size: 1.2vh;
  font-weight: 800;
  color: var(--light-gray);
  text-decoration: none;
  transition: color 0.1s;
}

.header-item:hover {
  color: var(--main-orange);
}

main {
  color: var(--light-gray);
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

main > h1 {
  color: var(--light-gray);
  text-align: center;
  width: 40%;
  font-size: 4vh;
  font-family: Montserrat;
}

main > img {
  position: absolute;
  right: -10rem;
  margin-left: 10rem;
  width: 25vw;
  height: auto;
}

footer {
  margin-bottom: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer-cont {
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.footer-el {
  display: flex;
  align-items: center;
}

.footer-el > img {
  width: 15px;
  height: auto;
  margin-right: 5px;
  filter: invert(100%) sepia(0%) saturate(4921%) hue-rotate(184deg)
    brightness(97%) contrast(72%);
}

.footer-el > div {
  color: var(--light-gray);
  font-family: Montserrat;
  font-size: 1.5vh;
}


@media (orientation: portrait) {
  .header-item {
    font-size: 1.5vw;
  }

  .bg-container {
    opacity: 0.6;
  }

  .solid-container {
    width: 100%;
    height: 100%;
    background:none;
  }

  main {
    flex-direction: column;
  }

  main > h1 {
    font-size: 1rem;
  }

  main > img {
    position: inherit;
    margin-left: 0;
    height: 30vh;
    width: auto;
  }

  .footer-cont {
    width: 100%;
  }
}
