{% extends "layout.html" %}

{% block title %}
Sobre nosotros
{% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/about.css') }}">
{% endblock %}

{% block main %}
<h1>SOBRE NOSOTROS</h1>
<section class="mv-section">
    <div class="m-container mv-title">MISIÓN</div>
    <div class="v-container mv-title">VISIÓN</div>
    <div class="m-text-container mv-text">Desarrollar el tenis de mesa en el norte del país,
        formando atletas íntegros.</div>
    <div class="v-text-container mv-text">Ser el club líder a nivel nacional de tenis de mesa
        en alto rendimiento .</div>
</section>
<section class="directiva">
    <h2>DIRECTIVA</h2>
    <div class="directiva-container">
        {% for persona in directiva %}
            <div class="directiva-item">
                <img src="{{ url_for('static', filename=persona['foto']) }}">
                <div class="directiva-item-name">{{ persona["nombre"] }} <span class="bold">{{ persona["apellido"] }}</span></div>
                <div class="directiva-item-role bold">{{ persona["cargo"] }}</div>
                <div class="directiva-item-description">{{ persona["descripcion"] }}</div>
            </div>
        {% endfor %}
    </div>
</section>
<section class="entrenadores">
    <h2>ENTRENADORES</h2>
    <div class="directiva-container">
        {% for persona in entrenadores %}
            <div class="directiva-item">
                <img src="{{ url_for('static', filename=persona['foto']) }}">
                <div class="directiva-item-name">{{ persona["nombre"] }} <span class="bold">{{ persona["apellido"] }}</span></div>
                <div class="directiva-item-description">{{ persona["descripcion"] }}</div>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}