:root {
    --main-red: rgb(226, 70, 3);
    --main-orange: #E57D02;
    --dark-gray: #252525;
    --super-light-gray: #FCFCFC;
    --light-gray: #D0D0D0;
    --title: Poppins;
    --content: Montserrat
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--super-light-gray);
}

a {
    text-decoration: none;
}

nav {
    width: 100%;
    height: 5rem;
    background-color: var(--dark-gray);
    display: flex;
    align-items: center;
    font-family: var(--title);
    font-weight: 700;
    font-size: .8rem;
}

.menu-container {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img-cont {
    flex-basis: 10%;
}

.items-cont {
    flex-basis: 90%;
}

.img-cont a {
    height: 100%;
    display: flex;
    align-items: center;
}

.menu-container img {
    height: 70%;
    width: auto;
    transition: all 0.2s;
}

.menu-container img:hover {
    height: 80%;
}

.items-cont a {
    color: var(--light-gray);
    transition: all .2s;
}

.items-cont a:hover {
    color: var(--main-red)
}

.items-cont .active {
    color: var(--main-orange)
}